{%extends "base.html"%}
{%block html_lang%}en{%endblock html_lang%}
{%block head_title%}Index{%endblock head_title%}
{%block head_description%}My personal blog where I post about my thoughts, some how-to's, or general ranting.{%endblock head_description%}
{%block head_og%}
  <meta property="og:title" content="Index -- {{config.get("info", "title")}}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="{{config.get("url", "main")}}/index.html"/>
  <meta property="og:image" content="{{config.get("url", "static")}}{{config.get("url", "default_image")}}"/>
  <meta property="og:description" content="My personal blog where I post about my thoughts, some how-to's, or general ranting."/>
  <meta property="og:locale" content="en"/>
  <meta property="og:site_name" content="{{config.get("info", "title")}}"/>
{%endblock head_og%}
{%block content%}
  <h1>Index -- {{config.get("info", "title")}}</h1>

  <p>
  Welcome to my blog where I'll post whatever I please, ranging from rants to how-to's. Además, este pex va a estar en español e inglés porque quiero (no una mezcla en cada entrada, pero sí entradas completas en diferentes lenguajes).
  </p>

  <p>
  Get the RSS feed: <a target="_blank" href="{{config.get("url", "main")}}/rss.xml">{{config.get("url", "main")}}/rss.xml</a>
  </p>

  {%import "tag_list.html" as tag_list%}
  {{tag_list.print(all_tags)}}

  {%import "page_list.html" as page_list%}
  {{page_list.print(all_pages)}}

{%endblock content%}
