{%extends "base.html"%}
{%block html_lang%}en{%endblock html_lang%}
{%block head_title%}Index{%endblock head_title%}
{%block content%}
  <h1>Index -- {{site_title}}</h1>

  <p>
  Welcome to my blog where I'll post whatever I please, ranging from rants to how-to's. Además, este pex va a estar en español e inglés porque quiero (no una mezcla en cada entrada, pero sí entradas completas en diferentes lenguajes).
  </p>

  <p>
  Get the RSS feed: <a target="_blank" href="{{site_base_url}}/rss.xml">{{site_base_url}}/rss.xml</a>
  </p>

  {%import "tag_list.html" as tag_list%}
  {{tag_list.print(all_tags)}}

  {%import "page_list.html" as page_list%}
  {{page_list.print(all_pages)}}

{%endblock content%}
