    </main>

    <footer>
      <i class="fas fa-rss" alt="RSS"></i>
      <a href="https://blog.luevano.xyz/rss.xml">https://blog.luevano.xyz/rss.xml</a>
      <br>

      <i class="fas fa-envelope" alt="Email"></i>
      <a href="mailto:david@luevano.xyz">david@luevano.xyz</a>
      <br>

      <i class="fas fa-donate" alt="Donate"></i>
      <a href="https://luevano.xyz/donate.html">Donate</a>
      <br>

      <i class="fas fa-hammer" alt="Hammer"></i>
      Created with <a href="https://github.com/luevano/pyssg">pyssg</a> by David Luévano
      <br>

      Copyright <i class="fas fa-copyright" alt="Copyright"></i> 2021 David Luévano Alvarado
    </footer>
  </body>
</html>
