{%extends "base.html"%}

{%block html_lang%}
{{config['lang']}}
{%endblock html_lang%}

{%block head_title%}
<title>Index -- {{config['title']}}</title>
{%endblock head_title%}

{%block head_description%}
<meta name="description" content="{{config['description']}}"/>
{%endblock head_description%}

{%block head_rss%}
<link rel="alternate" type="application/rss+xml" href="{{config['url']['main']}}/rss.xml" title="{{config['title']}} RSS">
{%endblock head_rss%}

{%block head_extra%}
{%endblock head_extra%}

{%block head_og%}
  <meta property="og:title" content="Index -- {{config['title']}}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="{{config['url']['main']}}/index.html"/>
  <meta property="og:image" content="{{config['url']['static']}}/{{config['url']['default_image']}}"/>
  <meta property="og:description" content="{{config['description']}}"/>
  <meta property="og:locale" content="{{config['lang']}}"/>
  <meta property="og:site_name" content="{{config['title']}}"/>
{%endblock head_og%}

{%block body_header%}
{%import 'body/header.html' as body_header%}
{{body_header.print(config)}}
{%endblock body_header%}

{%block body_content%}
  <h1>Index -- {{config['title']}}</h1>

  <p>Here is where I will post all of my drawings, sketches and more art related stuff. Right now this is managed similar to the <a href="https://blog.luevano.xyz" alt="Luévano's Blog">blog</a>, but more "gallery" oriented. The structure is kind of a 3-level zoom, where you see all the images in this index (or on a tag index), then you see the whole image in its separate link with additional information and then you can see the raw image itself.</p>

  <p>Get the RSS feed: <a target="_blank" href="{{config['url']['main']}}/rss.xml">{{config['url']['main']}}/rss.xml</a></p>

  {%import "tag_list.html" as tag_list%}
  {{tag_list.print(all_tags, "art-tags")}}

  {%import "art/page_list.html" as page_list%}
  {{page_list.print(all_pages)}}
{%endblock body_content%}

{%block body_footer%}
{%import 'body/footer.html' as body_footer%}
{{body_footer.contact(config)}}
{{body_footer.donate(config)}}
{{body_footer.rss(config)}}
<br>
{{body_footer.created_with()}}
<br>
{{body_footer.copyright()}}
{%endblock body_footer%}