{%macro print(pages)%}
{%import "art/page_list_entry.html" as art_entry%}
<div class="art-grid">
  {%for p in pages%}
    {%if p.meta['tall'] is defined%}
      {%if p.meta['wide'] is defined%}
        {{art_entry.print(p, 'tall wide')}}
      {%else%}
        {{art_entry.print(p, 'tall')}}
      {%endif%}
    {%elif p.meta['wide'] is defined%}
      {%if p.meta['tall'] is defined%}
        {{art_entry.print(p, 'tall wide')}}
      {%else%}
        {{art_entry.print(p, 'tall')}}
      {%endif%}
    {%else%}
      {{art_entry.print(p)}}
    {%endif%}
  {%endfor%}
</div>
{%endmacro%}
