<!DOCTYPE html>
<html class="theme-dark" lang="{%block html_lang%}{%endblock html_lang%}"
  prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{config['url']['static']}}/images/icons/favicon.ico">
    {%block head_title%}{%endblock head_title%}
    {%block head_description%}{%endblock head_description%}
    {%block head_rss%}{%endblock head_rss%}
    <!-- general style -->
    <link rel="stylesheet" type="text/css" href="{{config['url']['static']}}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{config['url']['static']}}/fork-awesome/css/fork-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{config['url']['static']}}/font-awesome/css/all.min.css">
    <!-- theme related -->
    <script type="text/javascript" src="{{config['url']['static']}}/scripts/theme.js"></script>
    <link id="theme-css" rel="stylesheet" type="text/css" href="{{config['url']['static']}}/css/theme.css">
    <!-- misc functions-->
    <script type="text/javascript" src="{{config['url']['static']}}/scripts/return_top.js"></script>
    <!-- extra -->
    {%block head_extra%}{%endblock head_extra%}
    <!-- og meta -->
    {%block head_og%}{%endblock head_og%}
  </head>

  <body>
    <header>
      {%block body_header%}{%endblock body_header%}
    </header>

    <main>
      <div class="return-top">
        <button class="return-top" onclick="returnTop()" id="returnTopButton">
        <i class="fas fa-arrow-up" alt="Return to top"></i>
        </button>
      </div>
      {%block body_content%}{%endblock body_content%}
    </main>

    <footer>
      {%block body_footer%}{%endblock body_footer%}
    </footer>
  </body>
</html>