@import './nordtheme.css';

:root {
  --bg: var(--color5);
  --body-bg: var(--color4);
  --navitem-bg: var(--color9);
  --navitem-bg-hl: var(--color10);

  --fg: var(--color3);
  --fg-hl: var(--color0);

  --link: var(--color15);
  --link-hl: var(--color7);
  --navitem-link: var(--color8);
  --navitem-link-hl: var(--color7);

  --fg-acc1: var(--color11);
  --fg-acc2: var(--color12);
  --fg-acc3: var(--color13);
  --fg-acc4: var(--color14);
  --fg-acc5: var(--color15);

  --switch-bg: var(--color3);
  --switch-slider: var(--color4);
  --switch-toggled-bg: var(--color10);
  --switch-ol: var(--color0);
  --switch-moon: var(--color3);
  --switch-sun: var(--color13);
}

html {
  background: var(--bg);
}

body {
  background: var(--body-bg);
  color: var(--fg);
  border: 4px outset var(--fg);
}

a{
  color: var(--link);
}

a:hover {
  color: var(--link-hl);
}

h1 {
  color: var(--fg-acc1);
}

h2 {
  color: var(--fg-acc2);
}

h3 {
  color: var(--fg-acc3);
}

h4 {
  color: var(--fg-acc4);
}

h5 {
  color: var(--fg-acc5);
}

/* switch */
.slider {
  background-color: var(--switch-bg);
}

#theme-switcher-container i.fa-moon {
  color: var(--switch-moon);
}

#theme-switcher-container i.fa-sun {
  color: var(--switch-sun);
}

.slider:before {
  background-color: var(--switch-slider);
}

.switch input:checked + .slider {
  background-color: var(--switch-toggled-bg);
}

.switch input:focus + .slider {
  box-shadow: 0 0 0.1em var(--switch-ol);
}

/* menu bar (header) */
.menubar li {
  background: var(--navitem-bg);
}

.menubar a {
  color: var(--navitem-link);
}

.menubar li:hover {
  background: var(--navitem-bg-hl);
  color: var(--fg-hl);
}

.menubar li:hover > a {
  color: var(--navitem-link-hl);
}

/* image gallery (not really being used rn) */
div.gallery {
  border: 1px solid var(--fg-hl);
}

div.gallery:hover {
  border: var(--fg-acc5);
}
