    </main>

    <footer>
      <span>
        <i class="fas fa-address-card" alt="Contact"></i>
        <a href="https://luevano.xyz/contact.html">Contact</a>
      </span>

      <span>
        <i class="fas fa-donate" alt="Donate"></i>
        <a href="https://luevano.xyz/donate.html">Donate</a>
      </span>

      <span>
        <i class="fas fa-rss" alt="RSS"></i>
        <a href="https://blog.luevano.xyz/rss.xml">RSS</a>
      </span>

      <br>
      <span class="created-with">
        <i class="fas fa-hammer" alt="Hammer"></i>
        Created with <a href="https://github.com/luevano/pyssg">pyssg</a>
      </span>

      <br>
      <span class="copyright">
        Copyright <i class="fal fa-copyright" alt="Copyright"></i> 2021 David Luévano Alvarado
      </span>
    </footer>
  </body>
</html>
