{%extends "base.html"%}

{%block html_lang%}
{{config['lang']}}
{%endblock html_lang%}

{%block head_title%}
<title>Index -- {{config['title']}}</title>
{%endblock head_title%}

{%block head_description%}
<meta name="description" content="{{config['description']}}"/>
{%endblock head_description%}

{%block head_rss%}
<link rel="alternate" type="application/rss+xml" href="{{config['url']['main']}}/rss.xml" title="{{config['title']}} RSS">
{%endblock head_rss%}

{%block head_extra%}
{%endblock head_extra%}

{%block head_og%}
  <meta property="og:title" content="Index -- {{config['title']}}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="{{config['url']['main']}}/index.html"/>
  <meta property="og:image" content="{{config['url']['static']}}/{{config['url']['default_image']}}"/>
  <meta property="og:description" content="{{config['description']}}"/>
  <meta property="og:locale" content="{{config['lang']}}"/>
  <meta property="og:site_name" content="{{config['title']}}"/>
{%endblock head_og%}

{%block body_header%}
{%import 'body/header.html' as body_header%}
{{body_header.print(config)}}
{%endblock body_header%}

{%block body_content%}
  <h1>Index -- {{config['title']}}</h1>

  <p>Welcome to my blog where I'll post whatever I please, ranging from rants to how-to's. Además, este pex va a estar en español e inglés porque quiero (no una mezcla en cada entrada, pero sí entradas completas en diferentes lenguajes).</p>

  <p>Get the RSS feed: <a target="_blank" href="{{config['url']['main']}}/rss.xml">{{config['url']['main']}}/rss.xml</a></p>

  {%import "tag_list.html" as tag_list%}
  {{tag_list.print(all_tags, "article-tags")}}

  {%import "blog/page_list.html" as page_list%}
  {{page_list.print("Articles", all_pages)}}
{%endblock body_content%}

{%block body_footer%}
{%import 'body/footer.html' as body_footer%}
{{body_footer.contact(config)}}
{{body_footer.donate(config)}}
{{body_footer.rss(config)}}
<br>
{{body_footer.created_with()}}
<br>
{{body_footer.copyright()}}
{%endblock body_footer%}